/* Body Styling properties example 
body {
	font-family: Garamond, ‘Book Antiqua’, Palatino, serif;
    font-size: 16px;
}

*/

h1 {
/*	font-style: oblique; */
    font-size:80px;
    color: white;
        
}

header{
background-image: url("images/miami-art-deco-district.jpg");
}

.bg-dark {
    background-color: rgb(189, 195, 201)!important;
    opacity: 0.9
  }

  .bg-primary {
    background-color:#6BDAFF !important;
    opacity: 0.5 
  }

  #map-images { 

    height : 1000
  }

  #map {
    height : 10
  }

  #mapSelector {
    padding-top: 230px;
    /*padding-bottom: 20px; */
  }

  #intro-image{
height: 1000

  }

  #chart{
    padding-left : 90px
  }

  span.Spanish {color:#6BDAFF}
  span.French {color:#D04DFF}
  span.Creole {color:#FFB233}
  span.Russian {color:#9AFF5E}
  span.Chinese {color:#5659EB}
  span.Portuguese {color:#55EB9E}

