/* Body Styling properties example 
body {
	font-family: Garamond, ‘Book Antiqua’, Palatino, serif;
    font-size: 16px;
}

*/

h1 {
/*	font-style: oblique; */
    font-size:48px;
    color: white;
        
}


.bg-dark {
    background-color: rgb(189, 195, 201)!important;
    opacity: 0.9
  }

  .bg-primary {
    background-color:#5659EB !important;
    opacity: 0.5 
  }

  #map-images { 

    height : 1000
  }

  #map {
    height : 10
  }

  #mapSelector {
    padding-top: 230px;
    /*padding-bottom: 20px; */
  }

  #intro-image{
height: 1000

  }

  #chart{
    padding-left : 90px
  }